/* 全体のcss */
.admin__inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F2F2F2;
    font-size: 20px;
    padding: 30px
}

.category {
    margin: 10px;
}

.table {
    border-spacing: 30px;
}

.th,
.td {
    margin: 20px;
}

/* td {
    width: 1.5em;
    height: 1.5em;
    background: #d2d2d2;
    text-align: center;
    vertical-align: middle;
} */

.pagination-info {
    display: none;
}